body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Gugi', cursive;
}

div {
  text-align: center;

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: rgb(17, 173, 56); 
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup {
  background-position: center;
  background-image: url("web.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 30px;
  margin-bottom: 30px; 
}

header.startup h1 {
  font-size: 4rem; 
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Gugi', cursive;
}

.btn-xl {
    padding: 1rem 2rem; 
}

.btn-primary {
  background-color: hsl(125, 83%, 39%);
  border-color:  hsl(125, 83%, 39%) }

.btn-primary:hover {
  background-color: hsl(140, 56%, 35%);
  border-color: hsl(140, 56%, 35%);
  border-width: 5px;
  cursor: pointer;
}
